@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body { margin: 0; padding: 0; }

:root {
    --main_color: #fff;
    --secundary_color: #4717f6;
    --accent_color_1: #8776d4;
    --accent_color_2: #e8bdff;
}

html {
    font: 400 20px 'Roboto', sans-serif;
    background: var(--main_color);
    color: var(--secundary_color);
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 { margin-bottom: 5vh; }

form { accent-color: var(--secundary_color); }

fieldset {
    background: var(--main_color);
    border: 2px solid var(--accent_color_1);
    border-radius: 15px 15px 45px 45px;
    width: fit-content;
    padding: 20px;
}

input[type=number] {
    margin-bottom: 10px;
    font: 400 20px 'Roboto', sans-serif;
    color: var(--secundary_color);
    background: var(--main_color);
    border: 2px solid var(--secundary_color);
    border-radius: 1vw;
    padding: 1vw;
}

div { margin: auto; text-align: left; max-width: fit-content; }

input[type=submit] {
    font: 400 20px 'Roboto', sans-serif;
    color: var(--secundary_color);
    background: var(--main_color);
    border: 2px solid var(--secundary_color);
    border-radius: 1vw;
    padding: 16px 60px;
    text-decoration: none;
    margin: 30px auto 10px;
    cursor: pointer;
    transition: 300ms;
}

input[type=submit]:hover {
    color: var(--main_color);
    background: var(--secundary_color);
}

span { margin-top: 15px; color: var(--accent_color_1); }

img { opacity: .1; }